/* adding new grid-areas to the layout */
#content{
    color: white;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto 400px;
    grid-template-rows: repeat(6, minmax(0px, auto));
    grid-template-areas: 
        'nav nav nav'
        'sli sli sli'
        'art art asi'
        'gam gam asi'
        'her ast asi'
        'foo foo foo'
}

/* New grid areas */
#gambit_info{
    grid-area: gam;
    background-color: #222;
    padding-bottom: 50px;
}
#heroic_info{
    grid-area: her; 
    background-color: #222;
    padding-bottom: 50px;
}
#astralis_info{
    grid-area: ast; 
    background-color: #222;
    padding-bottom: 50px;
}

/* centers slider-image */
#slider{
    background-position: center;
}

/* Animation for image-slider */
@keyframes slideBackground{
    0%{
        background-image: url(../images/esport/slider_s1mple.jpg);
    }
    30%{
        background-image: url(../images/esport/slider_s1mple.jpg);
    }
    33%{
        background-image: url(../images/esport/slider_esl-winner.jpg);
    }
    63%{
        background-image: url(../images/esport/slider_esl-winner.jpg);
    }
    66%{
        background-image: url(../images/esport/slider_fnatic-winner.jpg);
    }
    96%{
        background-image: url(../images/esport/slider_fnatic-winner.jpg);
    }
    100%{
        background-image: url(../images/esport/slider_s1mple.jpg);
    }
}


/* Grid with team-logos */
#teams{
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    height: 450px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-areas: 
        'gambit heroic astralis';
}
/* team-logos grid-areas */
#gambit{
    background-color: #181818;
    grid-area: gambit;
}
#heroic{
    background-color: #181818;
    grid-area: heroic;
}
#astralis{
    background-color: #181818;
    grid-area: astralis;
}

/* Style for team-logos */
#teams a{
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    color: white;
    text-decoration: none;
    
}

.team_logo{
    width: 80%;
    padding: 50px 10%
    
}
.team_name{
    font-size: 35px;
    width: 100%;
    height: 30px;
    padding: 20px 0px 0px 0px;
    margin: 0px;
    text-align: center;
    bottom: 60px;
    position: absolute;
}

.country{
    width: 15px;
    height: 10px;
    float: left;
    margin: 8px 5px 0px 0px;
}
.players li{
    margin: 0px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 0px 0px -1px 0px;
    padding: 10px 0px;
}
.players p{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}



.players{
    position: absolute;
    top: 30px;
    list-style: none;
    padding: 0;
    opacity: 0;
    width: 90%;
    height: 100%;
    margin: 0px 5%;
    z-index: 1;
    transition: 0.2s;
}

#teams a:hover > p{
    filter: blur(10px) grayscale(70%);
    transition: 0.3s;
}
#teams a:hover > img{
    filter: blur(10px) grayscale(70%);
    transition: 0.3s;
}
#teams a:hover > .players{
    opacity: 1;
    filter: blur(0px);
    transition: 0.2s;
}
#teams a:hover{
    border-bottom: #fff solid 5px;
    border-top: #fff solid 5px;
    margin: -5px 0px;
    color: white;
}


/* Style for team roster and stats */
.team_info{
    padding-top: 50px;
}

.team_info h2{
    font-size: 45px;
    height: 70px;
    display: flex;
    justify-content: center;
}
.team_info h3{
    font-size: 25px;
    padding: 0% 5% 0% 5%;
    width: 90%;
}

.team_info h2 img{
    height: 100%;
}

.team_roster{
    list-style: none;
    padding: 0;
    height: 350px;
    max-width: 850px;
    margin: 0px 50px;
}
.team_roster li{
    position: relative;
    background-color: #282828;
    float: left;
    width: 150px;
    height: 300px;
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 15px;
}
.player_img{
    float: left;
    width: 250%;
    margin-left: -75%;
}

.player_info{
    height: 100px;
    width: 100%;
    background-color: #181818;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.player_info p:first-of-type{
    font-weight: bold;
}
.player_info p:last-of-type{
    color: gray;
    margin-bottom: 2px;
}
.player_info img{
    height: 10px;
}


.stats{
    width: 100%;
    float: left;
}

.stats p{
    padding: 0% 10% 0% 10%;
    width: 80%;
    font-size: 20px;
}

/* Removes a column  */
@media screen and (max-width: 1500px){
    
    #content{
        display: grid;
        grid-template-columns: auto 400px;
        grid-template-rows: repeat(7, minmax(0px, auto));
        grid-template-areas: 
            'nav nav'
            'sli sli'
            'art asi'
            'gam asi'
            'her asi'
            'ast asi'
            'foo foo'
    }
    
}

/* Removes column, moves aside under teams */
@media screen and (max-width: 1150px){
    
    #content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, minmax(0px, auto));
        grid-template-areas: 
            'nav'
            'sli'
            'art'
            'gam'
            'her'
            'ast'
            'asi'
            'foo'
    }
    
}

/* Puts team-logos on top of eachother */
@media screen and (max-width: 732px){
    
    #teams{
        margin: auto;
        width: 300px;
        height: 1461px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        grid-template-areas: 
            'gambit'
            'heroic'
            'astralis';
    }
    #teams a{
        height: 450px;
    }
    #teams a p{
        padding: 0;
    }
    .team_name{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
}